[submodule "vendor/ogg"]
	path = vendor/ogg
	url = https://github.com/xiph/ogg.git
	branch = master
[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/xiph/opus.git
	branch = master
[submodule "vendor/opusfile"]
	path = vendor/opusfile
	url = https://github.com/xiph/opusfile.git
	branch = master
[submodule "vendor/dca3-kos"]
	path = vendor/dca3-kos
	url = https://gitlab.com/skmp/dca3-kos.git
